################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaintWindowsForms/.vs/PaintWindowsForms/v16
/PaintWindowsForms/Interfaz/obj/Debug
/PaintWindowsForms/Logica/obj/Debug
/PaintWindowsForms/Modelo/obj/Debug
/PaintWindowsForms/PaintWindowsForms/obj/Debug
/PaintWindowsForms/Interfaz/bin/Debug
/PaintWindowsForms/Modelo/bin/Debug
/PaintWindowsForms/PaintWindowsForms/bin/Debug
/PaintWindowsForms/packages/FontAwesome.Sharp.5.14.1/lib
/PaintWindowsForms/Logica/bin/Debug
